/* * IMMOBILE CARD CSS */
.immobile-card-container {
  cursor: pointer;

  display: inline-block;
  margin: 0.5rem;
  border-radius: 12px;

  padding: 1rem;
  width: 12rem;
  transition: padding 0.5s;
}

.immobile-card-container:hover {
  padding: 0;
}

/* card immobile header */
.img-immobile-container {
  position: relative;
  border-radius: 10px;
  aspect-ratio: 1;

  /* debug */
  background-color: lightgray;
}

.immobile-img-heart {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;

  color: gray;
}

/* card immobile body */
.body-container {
  padding: 0.5rem;
}

.body-container h2 {
  font-size: 1.2rem;
}

.immobile-card-body-content span {
  display: block;
  font-size: 0.7rem;
}

@media screen and (max-width: 450px) {
  .immobile-card-container {
    width: 80%;
  }
}

/* ? debug */
.container-card-prova {
  display: flex;
  justify-content: center;
}

.header-space {
  height: 125px;
}

nav .logo {
  height: 35px;
}

nav .user-icon {
  background-color: grey;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

nav .menu-icon {
  scale: 1.1;
}

nav .nav-toggler {
  border: 1px solid rgba(128, 128, 128, 0.556);
  padding: 5px 15px;
  border-radius: 30px;
  background-color: rgba(243, 243, 243, 0.558);
}

nav .nav-toggler:hover {
  box-shadow: 0px 2px 4px 0 #8f8f8f;
}

.user-icon i {
  scale: 1;
  margin-bottom: 2px;
}
/*SEARCHBAR*/

.container-searchbar {
  display: flex;
  justify-content: center;
}
.search-bar {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 30px;
  width: 100%;
  max-width: 100%;
}

.search-bar .form-group {
  display: flex;
  flex-direction: column;
}

.search-bar .form-label {
  margin-bottom: 5px;
}

.search-bar .form-control {
  border: none;
  box-shadow: none;
}

.search-bar .form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-bar .btn-search {
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  padding: 10px;
}
.btn-search{
  margin-top: 10px;
  margin-left: 10px;
  line-height: 1;
  width: 45px;
  height: 45px;
}

.search-bar .btn-search:hover {
  background-color: #d32f2f;
}

@media (max-width: 768px) {
  .search-bar .form-group {
    display: none;
  }
  .search-bar .form-group:first-child {
    display: block;
    width: 100%;
  }
}

/******************************************
# CARD PROPRIETARIO
******************************************/

.cardProprietario.scheda {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 15px;
  border: 3px solid #dd0e63;
  gap: 0.5rem;

  /* RESET */
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.cardProprietario.profilo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cardProprietario.profiloIcona {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 35px;
  aspect-ratio: 1;
  background-color: #dd0e63;
  border-radius: 100%;
}

.cardProprietario.circle {
  font-weight: bold;
  line-height: 15px;
}

.cardProprietario.profiloNome {
  margin: 0;
  font-size: 1.2rem;
}

.cardProprietario.recapiti {
  display: flex;
  gap: 1.5rem;
  justify-content: start;
}

.cardProprietario.recapitiDettagli {
  display: flex;
  flex-direction: column;
}

.cardProprietario.contatti {
  margin: 0;
}

.cardProprietario.contattiInfo {
  color: #dd0e63;
  cursor: pointer;
  text-decoration: none;
  margin-right: 0.5rem;
}

/******************************************
# CARD COMFORTS
******************************************/

.cardComforts.scheda {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* RESET */
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.cardComforts.titoloLista {
  margin: 0;
  font-size: 1.2rem;
}

.cardComforts.listaComforts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardComforts.comfort {
  margin: 0;
}

.cardComforts.icona {
  color: #dd0e63;
  cursor: pointer;
  text-decoration: none;
  margin-right: 0.5rem;
}

/******************************************
# DEBUG
******************************************/

.debug {
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 1.5rem;
  border: 1px solid red;
}

/* DETTAGLIO IMMOBILE */

.image-container {
  max-height: 400px;
  min-width: 100%;
  overflow: hidden;
}

.image-container .img {
  object-fit: cover;
}
